<html>
<body>

<p>Dename is a decentralized system that securely maps usernames to profiles which can contain any information the user wishes. For example, it can serve as a public key infrastructure, a store of electronic business cards or as a domain name system. See <a href="https://github.com/andres-erbsen/dename/">here</a> for details.<p>

<form name="input" action="/" method="post">
Email: <input type="text" name="email">
<input type="submit" value="Send me a registration token">
</form>

<h3> Allowed email addresses </h3>

<ul>
{{range .}}
	<li> <code>{{.Pattern}}</code> {{if .Explanation}}- {{.Explanation}}{{end}}</li>
{{end}}
</ul>


</body>
</html>
