<html>
<body>

<p> This page issues <a href="https://github.com/andres-erbsen/dename"><code>dename</code></a> registration tokens. See <a href="https://github.com/andres-erbsen/dename">here </a> for more information.</p>

<form name="input" action="/" method="post">
Email: <input type="text" name="email">
<input type="submit" value="Send me a registration token">
</form>

<h3> Allowed email addresses </h3>

<ul>
{{range .}}
	<li> <code>{{.Pattern}}</code> {{if .Explanation}}- {{.Explanation}}{{end}}</li>
{{end}}
</ul>


</body>
</html>
